<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Courses</ion-title>
    <ion-button slot="end" size="small" class="ion-margin-end" class="dif" (click)="showProfile()">
      <ion-icon name="person"></ion-icon>

    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-list>

 <ion-item *ngFor="let course of courses async">
   <ion-grid><ion-row>
    <ion-col>
         <img src="{{course.img}}" alt="">
     </ion-col>   
     
<ion-col>
      <div class="infos" >
      <ion-card-title><h2>{{course.title}}</h2></ion-card-title>
      <ion-label ><h4>Price :{{course.price}}DH</h4></ion-label>    
    </div>
</ion-col >
<ion-col >  
  <ion-button expand="block" size="large" (click)='openCourse(course)'>Details</ion-button>

  <ion-button expand="block" size="large" (click)='addToCart(course)'> <ion-icon name="bookmark" ></ion-icon>
</ion-button>

</ion-col></ion-row>
    </ion-grid>
        
    </ion-item>
            
        
    
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
     </ion-content>
        
       