ion-item {
    width: 90%;
    height: 50%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow:2px 3px 5px #999;

    }
img{
    width: 100px;
    height: auto;
    margin :10px auto;
    
}

ion-col{
    display: flex;
    flex-direction: row;
    text-align: center;
align-items: center;}
div .infos{
    
    margin-left: 30px;
}


ion-list{ background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }