
<ion-content>
<ion-item>
<ion-label>Details</ion-label>
<ion-button size="small" slot="end" (click)='closeModal()'>Close</ion-button>
</ion-item>
</ion-content>
<!-- <ion-content>
<ion-grid>
<ion-row>
    <ion-col>
        <img src="{{course.img}}" alt="">
    </ion-col>   
    
<ion-col>
     <div class="infos" >
     <ion-card-title><h2>{{course.title}}</h2></ion-card-title>
     <ion-label ><h4>Price :{{course.price}}DH</h4></ion-label>    
   </div>
</ion-col >

</ion-row>
<ion-row></ion-row>
</ion-grid>

</ion-content> -->